* {
    scroll-behavior: smooth;
    scroll-margin-top: 80px; /* Ajuste conforme a altura da navbar */
    scrollbar-width: thin;
    scrollbar-color: #a200ff #f4f4f4;
    /* Descomente para esconder a scrollbar */
    /* scrollbar-width: none; */
}
&::-webkit-scrollbar {
    display: none; }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Navbar */
.navbar {
    background-color: white;
    color: black;
    padding: 7.5px;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.titulo {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 10px;
}
.slogan {
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
}
nav {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li {
    margin: 0 20px;
}
li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
li a:hover {
    color: #007BFF;
}
/* Serviços */
main {
    padding: 20px;
}
.bem_vindo {
    text-align: center;
    margin-bottom: 40px;
}
.serviços {
    text-align: center;
}
.titulo_servicos {
    margin-bottom: 20px;
    border-bottom: solid #333 3px 50px;
}
section {
    display: inline-block;
    width: 25%;
    margin: 1.5%;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}
section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
section h3 {
    margin-top: 10px;
}
section p {
    margin-top: 10px;
    text-align: justify;
}
section a {
    text-decoration: none;
}
section button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
section button:hover {
    background-color: #0056b3;
}
/* Funcionarios */
.funcionarios {
    text-align: center;
    margin-bottom: 40px;
}
.titulo_funcionarios {
    margin-bottom: 20px;
}
article {
    display: inline-flex;
    width: 25%;
    margin: 1.5%;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    
}
article img {
    max-width: 200px;
    height: auto;
    border-radius: 75%;
}
.info_funcionario {
    margin-left: 10px;
    text-align: center;
}
.info_funcionario h3 {
    margin-top: 10px;
}
.info_funcionario p {
    display: flex;
    text-align: justify;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
.contato {
    margin-bottom: 10px;
}
.localizacao {
    margin-bottom: 10px;
}