@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* Estilos personalizados */
body {
    font-family: 'Cinzel Decorative';
    background-color: #f9f9f9;
    color: #333;
}